name: Scala CLA
on: [pull_request]
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: ./project/scripts/check-cla.sh
      env:
        AUTHOR: ${{ github.event.pull_request.user.login }}
